<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Mondonno/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="Mondonno" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>